---
layout: default
title: Nate Bailey
resource: true
---

<div class="col-md-3 col-md-offset-4">
    {% for cat in site.category-list %}
    <div class="section">
        <h4><i class="fa fa-{{ site.icon-list[forloop.index0] }}"></i><span>{{ cat }}</span></h4>
        <ul>
        {% assign sorted_pages = site.pages | sort: 'date' | reverse %}
        {% for page in sorted_pages %}
        {% unless page.resource == true %}
        {% for pc in page.categories %}
        {% if pc == cat %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
        {% endunless %}
        {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

<div class="col-md-3">
    <div class="section">
        <h4><i class="fa fa-coffee"></i><span>Experience</span></h4>
        <ul>
            <li><a href="http://www.moz.com/" target="_blank">Moz</a></li>
            <li><a href="http://www.flintmade.co/" target="_blank">Flint</a></li>
            <li><a href="http://www.wintr.us/" target="_blank">WINTR</a></li>
            <li><a href="http://www.inthepin.es/" target="_blank">Daniel</a></li>
            <li><a href="http://www.ncr.com/" target="_blank">NCR</a></li>
        </ul>
    </div>
    <div class="section">
        <h4><i class="fa fa-truck"></i><span>Select Clients</span></h4>
        <ul>
            <li><a href="http://www.teague.com/" target="_blank">Teague</a></li>
            <li><a href="http://www.mrholmesbakehouse.com/" target="_blank">Mr. Holmes Bakehouse</a></li>
            <li><a href="http://www.cyngn.com/" target="_blank">Cyanogen</a></li>
            <li><a href="http://www.wikiedu.org/" target="_blank">Wiki Edu</a></li>
            <li><a href="http://www.whitewave.com/" target="_blank">WhiteWave Foods</a></li>
        </ul>
    </div>
    <div class="section">
        <h4><i class="fa fa-rss"></i><span>Writing</span></h4>
        <ul>
            {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
