---
layout: default
---
<div class="col-md-6 col-md-offset-4">
    <h3>
        {% for icon in page.icons %}
        <i class="fa fa-{{ icon }} fa-lg"></i>
        {% endfor %}
        {{ page.title }}
    </h3>

    <div class="meta">
        {% if page.role %}<h5>Role: <span>{{ page.role }}</span></h5>{% endif %}
        {% if page.techs %}<h5>Technologies: <span>{{ page.techs }}</span></h5>{% endif %}
        {% if page.links %}
        <h5>Links:
        {% for link in page.links %}
            <span>{{ link }}{% if forloop.last == false %},{% endif %}</span>
        {% endfor %}
        </h5>
        {% endif %}
    </div>

    <div class="post">

        <div class="pagecontent">{{ content }}</div>

        {% if page.images.size > 0 %}
        <div class="well imagewell">
            {% for image in page.images %}
            <a href="#img{{ forloop.index0 }}"><img src="{{ image }}"></a>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</div>

<!-- Lightboxes -->
{% if page.images.size > 0 %}
{% for image in page.images %}
<div class="lightbox" id="img{{ forloop.index0 }}">
    <a href="" class="close"></a>
    {% if forloop.first == false %}
    <div class="prev">
        <a href="#img{{ forloop.index0 | minus:1}}"><i class="fa fa-arrow-left fa-2x fa-inverse"></i></a>
    </div>
    {% endif %}
    <img src="{{ image }}">
    {% if forloop.last == false %}
    <div class="next">
        <a href="#img{{ forloop.index0 | plus:1}}"><i class="fa fa-arrow-right fa-2x fa-inverse"></i></a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endif %}